*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #F1F1F3;
    /* max-width: 1600px;
   margin-left: 
    
    justify-content: space-between; */
    @media screen {
         
    }
}
/* shared styles */


/* font style section */
.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}
 
/* navbar section */
.Navbar-container{
    display: flex;
   align-items: center ;
   justify-content: space-between;
/* width: 1240px; */
margin:0 200px;

}
.nav-heading{
  
    font-size: 40px;
    font-weight: bolder;
    
   border-radius: 05px;
   background-color: #006A50;
   padding: 10px;
   margin-top: 12px;
   border:none;
    
}
.nav-heading:hover{
   color: red;
    transition: 0.4s;
    border-radius: 5px;

}

.nav-button{
    width: 116px;
    height: 52px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 20px;
   font-weight: 900;
    border: none;
    border: 2px solid #006A50;
    color: #006A50
    
    
}
.nav-button:hover{
    background-color: #006A50 ;
    transition: 0.4s;


}
.nav-button:active{
    color: red;
   
}
/* banner style*/
.banner{
    display: flex;
   align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    
    height: 560px;
    margin: 0 200px;
    border-radius: 10px;
    margin-top: 50px;

   
 }
.banner-containar{
margin: 0 200px;

}
.banner-titel{
    font-size: 24px;
    font-weight:600px;
    color: #0E0E0E;
   margin-bottom: 50px;

}
main-description{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    
}
.banner-btn{
    width: 285px;
    height: 56px;
    padding: 5px;
    margin-top: 50px;
}
/* main section */
main{
    /* max-width: 1240px; */
    margin: 0 200px;
}
.main-title{
    margin: 50px 0;
}
.main-heading{
    display: flex;
    /* align-items: center; */
    gap: 25px;
    /* margin: 0 200px; */
    /* padding: 24px; */
    justify-content: space-around;
 
    
   
   
}
.main-containar{
    margin: 20px auto;
    /* margin-bottom: 0 !important; */
}

.main-pillar{
    box-shadow: 0px 6px 40px gray;
    
    width: 302px;
    height: 244px;
    margin-top: 0px;
    padding: 20px;
    
    /* gap: 50px; */
    
}
.main-pillar-img {
    width: 40px ;
    height: 40px;
  margin-bottom: 20px;
  
}
.main-pillar-titel{
    margin-bottom: 20px;
}
.main-title{
    /* max-width: 1240px; */
    margin: 70px 0;
    text-align: center;
}
/* .main-pillar-description{
    color: #0E0E0E;
    width: 254px;
    height: 72px;
} */
/*  */




